.header {
    background-color: #FBF7F2;
    &__wrapper {
        padding: 10px 30px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #200F04;
    }

    .menu {
        flex: 1 0 0;        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__links {
            list-style-type: none;
        }

        &__link {
            display: inline-block;
            margin: 5px 20px;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__items {
        flex: 1 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        display: inline-block;
        margin: 5px 20px;
    }
}